<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.plyx.yunfeigjdevops.mapper.UserMapper">
    <resultMap id="userResultMap" type="site.plyx.yunfeigjdevops.model.User" >
        <id column="id" property="id"  />
        <result column="name" property="name" />
        <result column="age" property="age"  />
        <result column="gender" property="gender"  />
        <result column="phone" property="phone"  />
        <result column="register_mode" property="register_mode"  />
        <result column="third_party_id" property="third_party_id"  />
    </resultMap>

    <select id="findUserByName" resultMap="userResultMap">
        SELECT
        id,
        name,
        register_mode,
        age,
        gender,
        third_party_id,
        third_party_id
        FROM user_info
        where name = #{name}
    </select>

</mapper>